.statusCard {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 27px;
  padding: 6px 2px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-align: center;
  gap: 10px;
}

.red {
  background-color: var(--red);
}

.orange {
  background-color: var(--orange);
}

.green {
  background-color: var(--green);
}

.grey {
  background-color: var(--gray);
}

.title {
  white-space: nowrap;
}