:root {
  --dark-bg: #0b0e12;
  --white-white-1: #ffffff;
  --white-white-2: #787878;
  --red: #eb0237;
  --red-dark: #a01131;
  --red-light: #701328;

  // Дополнительные цвета (если понадобятся)
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-light: #f8f9fa;
}