:root {
  --dark-bg: #06080C;
  --gray-dark: #0B0E12;
  --white-white-1: #ffffff;
  --white-white-2: #787878;
  --red: #eb0237;
  --red-dark: #a01131;
  --red-light: #701328;
  --green: #43AD28;
  --orange: #EB6402;

;

  // Дополнительные цвета (если понадобятся)
  --gray: #6c757d;
;
  --gray-light: #f8f9fa;
}