.matchList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  background: var(--dark-bg);
}

.matchItem {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px;
  border-radius: 4px;
  background: var(--gray-dark);
  color: var(--white-white-1);
}

.scoreContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.teamContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 171px;
  height: 48px;
}

.team {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semi-bold);
  color: var(--white-white-1);
}

.icon {
  width: 48px;
  height: 48px;
}

.scoreAndStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.score {
  flex: 0 0 auto;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  font-weight: var(--font-weight-bold);
  color: var(--white-white-1);
}

.statusContainer {
  display: flex;
  justify-content: center;
}